<% layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row mt-5">
        <div class="col-8 offset-2">
    <h2>Edit listing</h2><br>
    <form method="POST" action="/listings/<%=listing._id %>?_method=PUT" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label"><b>Title:</b></label>
            <input type="text"  class="form-control" name="listing[title]" value="<%= listing.title %>" required>
            <div class="invalid-feedback">please enter a valid title.</div>
        </div>
        
        <br>
        <div class="mb-3">
            <label for="description" class="form-label"><b>Description:</b></label>
            <textarea rows="4" cols="50" class="form-control" name="listing[description]" required><%= listing.description %> </textarea>
            <div class="invalid-feedback">Please enter a short description!</div>
        </div>
        <br>
        <div class="mb-3">
            Original Listing Image 
            <img src="<%= originalImageUrl %>">
        </div>
        <div class="mb-3">
            <label for="image" class="form-label"><b>Upload New Image</b></label>
            <input type="file" class="form-control" name="listing[image]" >
            
        </div>
        <br>
        <div class="row">
            <div class="col-4">
                <label for="price" class="form-label"><b>Price:</b></label>
                <input type="number" class="form-control" name="listing[price]" value="<%= listing.price %>" required>
                <div class="invalid-feedback">Please enter a valid price!</div>
            </div>
            <div class="col-8">
                <label for="country" class="form-label"><b>Country:</b></label>
                <input type="text" class="form-control" name="listing[country]" value="<%= listing.country %>" required>
                <div class="invalid-feedback">Country should be valid.</div>
            </div>
        </div>
        
        <br>
        <div class="mb-3">
            <label for="location" class="form-label"><b>Location:</b></label>
            <input type="text" class="form-control" name="listing[location]" value="<%= listing.location %>" required>
            <div class="invalid-feedback">Location should be valid.</div>
        </div>
        <br>
        
        <br>
        <button type="submit" class="btn btn-dark add-btn">Update</button>
    </form>
    </div>
    </div>
</body>
